Repository lad-tech/nsc-toolkit: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, types

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx eslint --fix
    types:
      glob: "*.{ts, tsx}"
      run: npx tsc  --noEmit
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

Notes added by 'git notes add'
  94de1172528b99a20647b20ecd4f98f9b2e66588
Due: none

fix: object mode in JsonToBufferTransform.ts
  src/StreamOptions/JsonToBufferTransform.ts
Due: eslint, types

fix: JavaScript heap out of memory in BufferToJsonTransform.ts
  src/StreamOptions/BufferToJsonTransform.ts
Due: eslint, types

Notes added by 'git notes add'
  71ca57990a2f25a1707cc43dbd7c10398de518e7
Due: none

fix: Throw error if http response 500
  src/Client.ts
  src/Service.ts
Due: eslint, types

fix: Throw error if http response 500 (#90)
  src/Client.ts
  src/Service.ts
Due: eslint, types

Notes added by 'git notes add'
  536b5ce6ee43e900367d5eb2d45bc302ad471e1f
Due: none

fix: Move nats debug log in debug level
  package-lock.json
  package.json
  src/Service.ts
Due: eslint, types

debug: Fix grammar mistake
  src/Service.ts
Due: eslint, types

fix: Move nats debug log in debug level (#91)
  package-lock.json
  package.json
  src/Service.ts
Due: eslint, types

Notes added by 'git notes add'
  07e7688a7332fb1cfa58ccb590357770d4bc77cf
Due: none

fix: Change opentracing protocol
  src/Service.ts
Due: eslint, types

fix: Change opentracing protocol (#94)
  src/Service.ts
Due: eslint, types

Notes added by 'git notes add'
  4798767037a7aa7f91f3e99113cf2051d062c164
Due: none

fix: external timeouts
  examples/LogicService/service.schema.json
  src/Root.ts
  src/Service.ts
  src/__tests__/Root.ts
Due: eslint, types

debug: remove random symbol
  src/Service.ts
Due: eslint, types

fix: external timeouts (#96)
  examples/LogicService/service.schema.json
  src/Root.ts
  src/__tests__/Root.ts
Due: eslint, types

Notes added by 'git notes add'
  95a71ef1403beb89b6c775fe9f24eb0eba65f8aa
Due: none

feat: Сделать передачу logger в BufferToJsonTransform.ts опциональной
  src/StreamOptions/BufferToJsonTransform.ts
Due: eslint, types

feat: Сделать передачу logger в BufferToJsonTransform.ts опциональной (#98)
  src/StreamOptions/BufferToJsonTransform.ts
Due: eslint, types

Notes added by 'git notes add'
  01b0686d44ec9a636244810b95712062b6fc2049
Due: none

docs: Добавить информацию о таймаутах
  README.md
Due: none

Добавить информацию о таймауте в схеме в документацию (#99)
  README.md
Due: none

feat: New stream option for limit stream by size
  src/StreamManager.ts
  src/interfaces.ts
Due: eslint, types

debug: Add describe fro new option
  README.md
Due: none

debug: Fix TOC in README file
  README.md
Due: none

feat: New stream option for limit stream by size (#101)
  README.md
  src/StreamManager.ts
  src/interfaces.ts
Due: eslint, types

Notes added by 'git notes add'
  bb8c4aed439ec4bbb2a43dcfc280d87bc5208bba
Due: none

debug: http server
  src/Service.ts
Due: eslint, types

debug: 1
  package.json
Due: none

debug: build
  dist/Service.js
  dist/Service.js.map
Due: eslint

fix: take the localhost ip address for a service in the monolith build
  src/Service.ts
Due: eslint, types

chore: restore package.json
  package.json
Due: none

feat: Add new option in get listener logic
  src/StreamManager.ts
  src/interfaces.ts
Due: eslint, types

feat: Add new option in get listener logic (#106)
  src/StreamManager.ts
  src/interfaces.ts
Due: eslint, types

Notes added by 'git notes add'
  fa2a33f4cee529c367d5f211b1cbcb4fc3c0de3c
Due: none

fix: Fix param name
  src/StreamManager.ts
Due: eslint, types

fix: Fix param name (#108)
  src/StreamManager.ts
Due: eslint, types
